[*]

charset = utf-8
end_of_line = lf

insert_final_newline = true
trim_trailing_whitespace = true

#
# General files
#

[*.md]
indent_style = space
indent_size = 2

#
# Profect files
#

[*.cs]
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[*.config]
indent_style = space
indent_size = 2

# This is a mix of C# and HTML code, where C# code should be 4 spaces indent
# and HTML code should be 2 spaces indent. So for consistency, we will also
# require HTML code to be 4 spaces indented.

[*.{cshtml,html}]
indent_style = space
indent_size = 4
